{% if article.full == true %}
<div class="article">
    <h2 class="article-title">{{ article.title }}</h2>
    <div class="article-time">{{ article.time }}</div>
    <div class="article-text">{{ article.text }}</div>
</div>
{% else %}
<div class="articles">
    <h2 class="articles-title">{{ articles.title }}</h2>
    <div class="articles-list">
{% for article in articles.list %}
        <div class="article-short">
            <h3 class="article-title-short">{{ article.title }}</h3>
            <div class="article-time-short">{{ article.time }}</div>
            <div class="article-text-short">{{ article.text }}</div>
            <a href="{{ article.link }}" class="article-link">--></a>
        </div>
{% endfor %}
    </div>
    <div class="articles-pages">
{% set pages = articles.pages_links %}
{% include "pages.twig" %}
    </div>
</div>
{% endif %}